*{
	margin:0;
	padding:0;
}
body {
	background:#212121;
	overflow:hidden;
	color:#fff;
	width:1000px;
	margin: auto ;
}
#outer_container{
	position:absolute;
	bottom:0;	/*-160px to hide*/
	left:0;
	margin:0px 0px 5px 0px;
	height:100px;
	padding:0;
	z-index:999;
	-webkit-box-reflect:
		below 5px -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(transparent),
			color-stop(0.6, transparent),
			to(rgb(18, 18, 18))
		);
}
#thumbScroller{
	position:relative;
	overflow:hidden;
}
#thumbScroller .container{
	position:relative;
	left:0;
}
#thumbScroller .content{
	float:left;
}
#thumbScroller .content div{
	margin:2px;
	height:100%;
}
#thumbScroller img,
img.clone{
	border:5px solid #fff;
	height:80px;
}
#thumbScroller a{
	padding:2px;
	outline:none;
}
.fp_overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background:transparent url(../images/icons/pattern2.png) repeat-x bottom left;
}
.fp_loading{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	background:#000 url(../images/icons/loader.gif) no-repeat center center;
	width:70px;
	height:70px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	z-index:999;
	opacity:0.7;
}
.fp_next,
.fp_prev{
	width:50px;
	height:50px;
	position:fixed;
	top:50%;
	margin-top:-15px;
	cursor:pointer;
	opacity:0.5;
}
.fp_next:hover,
.fp_prev:hover{
	opacity:0.9;
}
.fp_next{
	background:#000 url(../imagenes/icons/next.png) no-repeat center center;
	right:250px;
}
.fp_prev{
	background:#000 url(../imagenes/icons/prev.png) no-repeat center center;
	left:0px;
}
.fp_thumbtoggle{
	height:50px;
	background:#000;
	width:200px;
	text-align:center;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	position:fixed;
	left:50%;
	margin-left:-100px;
	bottom:-50px;
	line-height:50px;
	cursor:pointer;
	opacity:0.8;
}
.fp_thumbtoggle:hover{
	opacity:1.0;
}
img.fp_preview{
	margin-top:45px;
	image-rendering: optimizequality;
	vertical-align:middle;
	display: inline-block;

}
#fp_gallery{
	width:750px;
	text-align:center;
	margin:auto;
	margin:0 0px 0 0;
}
#comentcontent{
	float:right; 
	background:#FDFFF4;
	width:366px; 
	z-index:999; 
	position:fixed; 
	right:0; 
	top:39px; 
	line-height: 0.8em;
}
#addComent{
	width:330px;
}