ul#css3menu {
    display: block;
    float: left;
    font-size: 0;
    height:34px;
    padding: 5px 5px 5px 0;
}

ul#css3menu, ul#css3menu .submenu {
    background-color: #333333;
    border-color: #515253 #3D3E3F #2B2B2C;
    border-radius: 6px 6px 0 0;
    border-style: solid;
    border-width: 1px;
}


ul#css3menu, ul#css3menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0;
}

ul#css3menu .submenu {
    background-color: #5F7A01;
    border-color: #5F7A01 #3E5001 #5F7A01;
    border-radius: 0 0 6px 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3.5px 3.5px 3px #333333;
    display: none;
    float: left;
    left: 0;
    padding: 6px 0 11px;
    position: relative;
    top: 97%;
}
ul#css3menu li:hover > * {
    display: block;
}
ul#css3menu li:hover {
    position: relative;
}
ul#css3menu ul .submenu {
    border-radius: 6px 6px 6px 6px;
    left: 100%;
    position: absolute;
    top: -1px;
    margin-left:-360px;
    width:165px;

}

ul#css3menu ul {
    padding: 0;
}
ul#css3menu .column {
    float: left;
}
ul#css3menu li {
    display: block;
    float: left;
    font-size: 0;
    margin: 5px 0 0;
    white-space: nowrap;
}
ul#css3menu > li, ul#css3menu li {
    margin: 0 0 0 0;
}
ul#css3menu ul > li {
    margin: 5px 0 0;
}
ul#css3menu a:active, ul#css3menu a:focus {
    outline-style: none;
}
ul#css3menu a {
    background-color: #333;
    background-image: -moz-linear-gradient(50% 0 , rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.03));
    background-position: 0 0;
    background-repeat: repeat;
    border-color: #333;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font: 13px "Avenir 85 Heavy",Arial,Helvetica,sans-serif;
    padding: 5px 8px 0 8px;
    text-align: left;
    text-decoration: none;
    text-shadow: 0 -1px 1px #1E4460;
    vertical-align: middle;
}
ul#css3menu ul li {
    float: none;
    margin: 0 0 0;
}
ul#css3menu ul a {
    background-color: #5F7A01;
    background-position: 0 0;
    border-style: solid;
    border-color: #5F7A01;
    border-width: 1px;
    color: #FFFFFF;
    font: 13px "Avenir 85 Heavy",Arial,Helvetica,sans-serif;
    padding: 7px;
    text-align: left;
    text-decoration: none;
}
ul#css3menu li:hover > a {
    background-color: #333;
    background-image: -moz-linear-gradient(50% 0 , #414141, rgba(51, 51, 51, 0));
    background-position: 0 100%;
    color: #FFFFFF;
    font: 13px "Avenir 85 Heavy",Arial,Helvetica,sans-serif;
    text-decoration: none;
    text-shadow: 0 -1px 1px #1E4460;

}
ul#css3menu img {
    border: medium none;
    vertical-align: middle;
}
ul#css3menu img.over {
    display: none;
}
ul#css3menu li:hover > a img.def {
    display: none;
}
ul#css3menu li:hover > a img.over {
    display: inline;
}
ul#css3menu span {
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    overflow: visible;
    padding-right: 0;
}
ul#css3menu ul span {
    background-image: url("arrowsub.png");
    padding-right: 40px;
}
ul#css3menu ul li:hover > a {
    background-color: #333;
    background-image: -moz-linear-gradient(50% 0 , #333, rgba(51, 51, 51, 0));
    background-position: 0 100%;

    color: #FFFFFF;
    font: 13px "Avenir 85 Heavy",Arial,Helvetica,sans-serif;
    text-decoration: none;
}
ul#css3menu li.topmenu > a {
    height: 28px;
    line-height: 14px;
    border-radius: 6px 6px 0 0;
    text-align:right;

}
ul#css3menu li.topmenu:hover > a {
    line-height: 14px;
}
