{% extends "baselanding.html" %}
{% load i18n %}
{% block title %}Jombis{% endblock %}
{% block leftside %}
<section id="perfilInfo">

	<article id="imgMain"></article>
	<article id="infoPerfil"></article>
    <article id="f5s"></article>
</section>
{% if form.perfil %}
<form action="." method="post" enctype="multipart/form-data" class="forms">
	{{ form.errors }}
    	<input id="id_nombre" class="input" type="text" maxlength="128" name="nombre" placeholder="{% trans 'Titulo del album' %}"  ><br/>
  <textarea id="id_summary" class="textarea" name="summary" rows="3" placeholder="{% trans 'Descripcion del album' %}"></textarea><br/>
        <input name="addAlbum" class="gBtn" type="submit" value="{% trans 'Agregar album' %}" />
</form>
{% else %}
	add fotos :D
{% endif %}
{%block rightside %}
	{% include 'includes/perfilPanel.html' %}
{% endblock %}
{% endblock %}


